body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

h1 {
  text-align: center;
  margin-top: 0;
  color: #333;
}

.input-container {
  display: flex;
  margin-bottom: 10px;
}

.input-container input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
}

.input-container button {
  padding: 10px 15px;
  background-color: #3e98c7;
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.task-list {
  list-style: none;
  padding: 0;
}

.task-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  font-size: 16px;
}

.task-item:last-child {
  border-bottom: none;
}

.task-item input[type='checkbox'] {
  margin-right: 10px;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

.completed .task-actions button {
  display: none;
}

.task-actions {
  margin-left: auto;
}

.task-actions button {
  padding: 5px 10px;
  background-color: #e74c3c;
  border: none;
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.completed-task-list {
  margin-top: 20px;
}

.separator {
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
}